<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="dbChamCong" connectionString="Data Source=.\SQL2014;Initial Catalog=dbChamCong;User ID=dev;Pwd=1" providerName="System.Data.SqlClient"/>-->
    <!--<add name="dbChamCong" connectionString="Data Source=.\SQL2014;Initial Catalog=dbChamCong;User ID=dev;Pwd=1" providerName="System.Data.SqlClient"/>-->
    <add name="dbChamCong" connectionString="Data Source=.\SQLEXPRESS01;Initial Catalog=dbChamCong;User ID=dev;Pwd=1" providerName="System.Data.SqlClient"/>
    <!--<add name="dbChamCong" connectionString="Data Source=.;Initial Catalog=dbChamCong;User ID=dev;Pwd=1" providerName="System.Data.SqlClient"/>-->

    <add name="dbChamCong_Client" connectionString="Data Source=.;Initial Catalog=dbChamCong_Client;User ID=dev;Pwd=1" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>