<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--debug-->
    <!--<add name="dbChamCong_Client" connectionString="Data Source=.;Initial Catalog=dbChamCong_Client;User ID=dev;Pwd=1" providerName="System.Data.SqlClient" />-->
    <!--release-->
    <add name="dbChamCong_Client" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|localdata\db\dbChamCong_Client.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--minutes-->
    <add key="Interval_Updater" value="3" />

    <!--debug-->
    <add key="Debug" value="true" />
    <add key="UrlHub" value="http://localhost:20192/" /><add key="UrlToCheckUpdate" value="http://localhost:20192/check-for-update" />
    <!--release-->
    <!--<add key="UrlHub" value="http://113.162.60.102:81/" /><add key="UrlToCheckUpdate" value="http://113.162.60.102:81/check-for-update" />-->
    <!--<add key="UrlHub" value="http://113.162.60.102:6868/" /><add key="UrlToCheckUpdate" value="http://113.162.60.102:6868/check-for-update" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
    <legacyUnhandledExceptionPolicy enabled="true" />
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>